<h2>Adres dostawy</h2>

<form id="adress-form">
  <table>
    <tr>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td>Imie:</td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td>Nazwisko:</td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td>Telefon:</td>
      <td><input type="tel"></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><input type="email"></td>
    </tr>
    <tr>
      <td>Miasto:</td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td>Ulica:</td>
      <td><input type="text"></td>
    </tr>
  </table>
</form>
<app-basket></app-basket>
