<h3>Id: {{dish.id}}</h3>
<form [formGroup]="dishForm">
  <label>Name:
    <input type="text" formControlName="name"/>
  </label>
  <label>Description:
    <input type="text" formControlName="description"/>
  </label>
  <label> Price:
    <input type="number" formControlName="price"/>
  </label>
  <label> Type:
    <select formControlName="type">
      <option value="pizza">Pizza</option>
      <option value="pasta">Pasta</option>
      <option value="beverage">Beverage</option>
    </select>
  </label>
  <label> Availability:
    <select formControlName="isAvailable">
      <option value="true">true</option>
      <option value="false">false</option>
    </select>
  </label>
  <button (click)="editDish()" [disabled]="!dishForm.valid">Save</button>
</form>
<button (click)="changeAvailabilityOfDish()">Change availability</button>
<button (click)="deleteDish()">Delete</button>
<button [routerLink]='["/"]'>back</button>
