<div class="menu">
  <div class="menu-buttons">
    <div class="menu">
      <button (click)="getAllDishes()">List of dishes</button>
    </div>
    <div class="pizza" *ngIf="!loginService.isLogged">
      <button (click)="getPizza()">Pizza</button>
    </div>
    <div class="pasta" *ngIf="!loginService.isLogged">
      <button (click)="getPasta()">Makaron</button>
    </div>
    <div class="beverage" *ngIf="!loginService.isLogged">
      <button (click)="getBeverage()">Napoj</button>
    </div>
    <div *ngIf="!loginService.isLogged">
      <button routerLink="/summary">Zamowienie</button>
    </div>
    <div>
      <button routerLink="/orders-list">Lista zamowien</button>
    </div>
  </div>
  <div class="dishes">
    <app-dishes-list-item class="dish" *ngFor="let dish of dishes" [dish]="dish"></app-dishes-list-item>
  </div>
</div>
