<div class="basket">
  <h1>Basket</h1>
  <div class="basket-items">
    <div class="basket-item" *ngFor="let dish of dishes">
      <div class="description">
        <h3>{{dish.name}}</h3>
        <p>{{dish.description}}</p>
      </div>
      <div class="price">
        <p>Price: {{dish.price}}</p>
      </div>
      <div class="button-delete">
        <button (click)="deleteFromBasket(dishes.indexOf(dish))">Delete from basket
        </button>
      </div>
    </div>
  </div>
  <p>Value of basket: <span id="basket-cost"></span> </p>
</div>
<a routerLink="/">Powrot</a>
