.app-content{
  display: flex;
  justify-content: center;
}

.nav-bar {
  height: 40px;
  background-color: limegreen;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

#basket {
  margin-right: 20px;
}

a {
  text-decoration: none;
}
