<div class="menu">
  <div class="item" *ngIf="loginService.isLogged || dish.isAvailable===true">
    <div class="description">
      <h3>{{dish.name}}</h3>
      <p>{{dish.description}}</p>
    </div>
    <div class="price">
      <p>Price: {{dish.price}}</p>
    </div>
    <div class="button-add" *ngIf="!loginService.isLogged">
      <button class="add-to-basket" (click)="addItemToBasket()">Add to basket</button>
    </div>
    <div *ngIf="loginService.isLogged">
      <button class="button-preview" [routerLink]="['/dishes', dish.id]">Preview</button>
    </div>
  </div>
</div>
