<h1>Add dish</h1>
<form [formGroup]="addDishForm" (ngSubmit)="createDish()">
  <label>Name:
    <input type="text" formControlName="name">
  </label>
  <label>Description:
    <input type="text" formControlName="description">
  </label>
  <label>Availability:
    <select id="availability" formControlName="isAvailable">
      <option value="true">Available</option>
      <option value="false">Not available</option>
    </select>
  </label>
  <label>Type:
    <select id="type" formControlName="type">
      <option value="pizza">Pizza</option>
      <option value="pasta">Pasta</option>
      <option value="beverage">Beverage</option>
    </select>
  </label>
  <label>Price:
    <input type="number" formControlName="price">
  </label>
  <button type="submit" [disabled]="!addDishForm.valid">Add dish</button>
</form>
<button routerLink="/">Main Page</button>
